@media only screen and (min-width: 1024px) {

    /* HEADER */

    header {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    main {
        display: flex;
        flex-direction: row;

        text-align: start;
    }

    footer {
        height: 100%;
    }

    /*  main */

    main {
        height: auto;
        padding-left: 10rem;
        padding-right: 10rem;
    }
   
    .upper-main {
        width: 100%;
    }

    .upper-main h2 {
        font-size: 4rem; 
        line-height: 5rem; 
    }

    .reasons {
        margin-top: 2rem;
    }

    .upper-main div {
        width: 100%;
        margin-left: auto;
        justify-content: start;
    }

    .lower-main {
        margin: auto;
        width: 33.75rem;
    }

    /* FOOTER */

    footer {
        display: flex;
        padding: 2rem 10rem;
        align-items: center;
    }

   

    .home-about {
        margin-bottom: 0;
        margin-top: 2.5rem;
    }

    .address-socials {
        display: flex;
        text-align: start;
        margin-left: 8rem;
    }

    .address li {
        margin: 5px;
    }

    .social-icons {
        position: static;
    }

    .socials {
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        text-align: end;
        width: 500px;
        margin: 0;
    }

}